body {
}
table.main{

	width:85%;
	margin-left:7%;
	text-align: center;

}
.hasTicket{
		background-color: rgb(144, 207, 149);
		border-radius: 5px;
		height: 30px;
}
.used{
		background-color: rgb(236, 172, 172);
		border-radius: 5px;
		height: 30px;
}
th{
	height: 30px;
}
td{
	width:30px;
	min-height: 30px;
	border: 5px solid white;
	border-radius: 10px;
}
.teamname{
	margin:10px;
	height: 30px;
}
.hasTicket:hover{
	background-color: #FFFC9E;
	border-radius: 5px;
	cursor:pointer;
}
.used:hover{
	background-color: rgb(236, 172, 172);
	border-radius: 5px;
	cursor:pointer;
}
button{
	width:120px;
}
.custom-table{
	height: 300px !important;
}
.info{
	background: url(../../RectPacking/Visualizers/info.png) no-repeat ;
	background-size: 3.2%;
	border-color: #bce8f1;
	background-color: #d9edf7;
	padding-left:50px;
}
.buttonInfo{
	margin:5px;
	width:100px;
}



.loader{
	margin:200px auto;
}
h1{
	font-family: 'Actor', sans-serif;
	color:#615A5A;
	font-size:16px;
	letter-spacing:1px;
	font-weight:200;
	text-align:center;
}
.loader span{
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	-webkit-animation:3s infinite linear;
	-moz-animation:3s infinite linear;
	-o-animation:3s infinite linear;
	
}


.loader span:nth-child(2){
	background:#E84C3D;
	-webkit-animation:kiri 1.2s infinite linear;
	-moz-animation:kiri 1.2s infinite linear;
	-o-animation:kiri 1.2s infinite linear;
	
}
.loader span:nth-child(3){
	background:#F1C40F;
	z-index:100;
}
.loader span:nth-child(4){
	background:#2FCC71;
	-webkit-animation:kanan 1.2s infinite linear;
	-moz-animation:kanan 1.2s infinite linear;
	-o-animation:kanan 1.2s infinite linear;
}


@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(20px);
    }
   
	50%{-moz-transform:translateX(-20px);
	}
	
	100%{-moz-transform:translateX(20px);
	z-index:200;
	}
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(20px);
    }
   
	50%{-o-transform:translateX(-20px);
	}
	
	100%{-o-transform:translateX(20px);
	z-index:200;
	}
}




@-webkit-keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

@-moz-keyframes kiri {
     0% {-moz-transform:translateX(-20px);
	z-index:200;
    }
	50%{-moz-transform:translateX(20px);
	}
	100%{-moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
     0% {-o-transform:translateX(-20px);
	z-index:200;
    }
	50%{-o-transform:translateX(20px);
	}
	100%{-o-transform:translateX(-20px);
	}
}





* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}

body {
  background: linear-gradient(#3D3D3E, #2A2A2A);
  background-attachment: fixed;
  font-family: Helvetica;
}

.timeline {
  /*background: #fff;*/
  margin-top: 10px;
  /*box-shadow: 0px 0px 15px rgba(0,0,0,0.5) inset;*/
  height: 150px;
  position: relative;
}

hr {
  height: 3px;
  width: 100%;
  background-color: #6d6dff;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  margin-left: -15px;
  z-index: 5;
}

.events {
  position: absolute;
  z-index: 10;
}

.event {
  background-color: #6d6dff;
  float: left;
  margin: 0px -4px;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
}

.event:nth-child(odd) {
  top: 15px;
}

.event:nth-child(odd):after {
  content: "";
  height: 0;
  width: 0;
  border-top: 15px solid #6d6dff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: 29px;
  left: 6px;
}

.event:nth-child(odd):before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 15px;
  position: absolute;
  background-color: #FFFFFF;
  border: 2px solid #6d6dff;
  top: 46px;
  left: 15px;
}

.event:nth-child(odd):hover:before, .event:nth-child(even):hover:before {
  box-shadow: 0px 0px 5px #FFF;
  background-color: #6d6dff;
}

.event:nth-child(odd):hover, .event:nth-child(even):hover {
  box-shadow: 0px 0px 5px #FFF;
}

.event:nth-child(even) {
  top: 95px;
}

.event:nth-child(even):after {
  content: "";
  height: 0;
  width: 0;
  border-bottom: 15px solid #6d6dff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: -11px;
  left: 9px;
}

.event:nth-child(even):before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 15px;
  position: absolute;
  background-color: #FFFFFF;
  border: 2px solid #6d6dff;
  top: -34px;
  left: 15px;
}
.selectedElement:before {
    background-color: #6d6dff !important;
}

    .event:focus {
        background-color: red;
    }

#frameFromWhichToRemake {
    display:inline-block;
    width:45px;
}

.small  {
width: 10px;
height: 21px;
background-color: rgb(253, 253, 253);
border: 3px solid rgb(112, 102, 236);
float: left;
/* margin: 48px -4px; */
position: relative;
/* padding: 5px 10px; */
cursor: pointer;
left: 0px;
margin-left: 2px;
border-radius: 6px;
margin-top: 58px;
    
}

    .small:hover {
background-color: rgb(112, 102, 236);
    }

    .small .selectedElement {
    background-color: #6d6dff !important;
}
    .span1 {
        width: 100px;
    }